
*{
  box-sizing: border-box;
  min-height: 0;
}

body {
  height: 100vh;
}

main > .container-fluid {
  height: calc(100vh - 70px);
  padding: 1rem;
}


/* landing page */
 .landing-page p {
  font-size: 1.2rem;
}

/* login page */
.login-page form,
.register-page form {
  max-width: 400px;
  margin: auto;
}