
*{
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-width: 320px;
}

main > .container {
  height: calc(100vh - 70px);
  padding: 1rem;
}


/* landing page */
 .landing-page p {
  font-size: 1.2rem;
}

/* login page */
.login-page form,
.register-page form {
  max-width: 400px;
  margin: auto;
}

/* task detail page */
.task-col-1 {
  max-height: 45vh;
}

.task-col-2 {
  max-height: 65vh;
}


/* task detail layout fix */
.task-detail-page * {
  min-height: 0;
}


/* Dashboard */

 .row-first {
  max-height: 25vh;
}

 .row-second > [class^="col-"] {
    max-height: 45vh;
}

@media (min-width: 768px) {
  .task-col-1,
  .task-col-2 {
    max-height: 100%;
  }
  .row-first {
    max-height: 25%;
  }

  .row-second{
    max-height: 75%;
  }
  .row-second > [class^="col-"] {
    max-height: 100%;
  }
}