{% extends "layout.html" %} {% block title %} Login {% endblock %} {%block main
%}
<form method="POST" action="/login">
  <div class="p-1">
    <input
      autocomplete="off"
      type="text"
      autofocus
      name="username"
      placeholder="Username"
      class="form-control"
      required
    />
  </div>
  <div class="p-1">
    <input
      autocomplete="off"
      type="password"
      autofocus
      name="password"
      placeholder="password"
      class="form-control"
      required
    />
  </div>
  <button class="btn btn-primary p-1" type="submit">Log in</button>
</form>
{%endblock%}
